.header{
    width: 50%;
    height: 75px;
    background-color: gray;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 5px;
}

form input {
    width: 10%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}


.uglyThing-container {
    height: 400px;
    width: 400px;
    justify-content: center;
}


.uglyThing-image {
    background-size: cover; 
    background-position: center;
    width: 400px; 
    height: 300px; 
    justify-content: center;
    margin: 0 auto;
    border-radius: 5px;
}


