@media only screen and (max-width: 1120px){
    .container {
        padding: 0px 10px 0px 0px; /* Adjust padding as needed */
        grid-template-rows: repeat(10, 1fr);

        position: fixed;
        width: auto;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        display: grid;
        overflow: auto;
        scrollbar-width: none; /* Hide the scrollbar for Firefox */
        -ms-overflow-style: none; /* Hide the scrollbar for Internet Explorer and Edge */
    }

    .container > div {
        height: 100%;
        width: 100%;
        border: solid red 1px;
    }

    body{
        font-size: x-large;
        line-height: 1.5;
    }

    body::before {
        content: "";
        position: relative;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none; /* Allow clicks to go through the overlay */
        z-index: -1; /* Place the overlay behind the content */
    }

    #box-1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        color: rgb(206, 206, 206);
        font-size: 1em;

        background-image: url('images/banner.png'); /* Replace with the actual path to your image */
        background-size: cover; /* Scale the image to cover the entire div */
        background-position: center; /* Position the image at the center of the div */
        background-repeat: no-repeat; /* Prevent the image from repeating */
        display: grid;
        place-items: center;
    }

    #box-2 {
        display: none;
    }

    #box-3 {
        background-color: white;
        font-size: 1em;
        font-family: 'Libre Baskerville', sans-serif;
        grid-column: 1 / 3;
        color: #325050;
    }

    #box-4 {
        grid-row: 7 / 9 ;
        grid-column: 1 / 3;
        margin-bottom: 15em;
        position: absolute;
        background-color: #e5ede8;
        display: flex; /* Use Flexbox for vertical centering */
        flex-direction: row; /* Arrange items vertically */
        justify-content: space-around; /* Vertically center items */
        align-items: stretch; /* Stretch items to fill container horizontally */
        min-height: 25em; /* Allow the container to shrink if needed */
    }

    .box-4-ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1; /* Allow the list to take up available vertical space */
        text-align: center;
    }
    
    .box-4-ul li {
        color: #d3dcd6;
        font-family: 'Julius Sans One', sans-serif;
        padding: .5em;
        /* border-bottom: 1px solid gray; */
    }

    .box-4-li-a,
    .box-4-li-by-name {
        text-transform: uppercase;
        color: gray;
        text-decoration: none;
    }

    .box-4-li-a:visited,
    .box-4-li-by-name:visited {
        color: gray;
    }


    #box-5 {
        grid-column: 1 /3;

        position: relative; /* Add relative positioning to establish a containing block for absolute positioning */
        font-family: 'Libre Baskerville', sans-serif;
        font-size: 1em;
        color: #325050;
        background-image: url('images/woods.png'); /* Replace with the actual path to your image */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1; /* Set the z-index for the background image and overlay */ 
    }

    #box-5::before {
        content: ''; /* Add a pseudo-element to create the overlay */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #b5d1c1;
        opacity: .95;
        z-index: 1; /* Place the overlay behind the content */
    }
    
    #box-5 h3,
    #box-5 p {
        position: relative; /* Add relative positioning to establish a containing block for absolute positioning */
        z-index: 1; /* Set the z-index for the text elements to be above the overlay */
    }

    #box-6 {
        grid-column: 1 / 3;
        grid-row: 9 / 11;
        position: absolute;
        background-image: url('images/woods.png'); /* Replace with the actual path to your image */
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -2; /* Set the z-index for the background image and overlay */
        display: flex; /* Use Flexbox for vertical centering */
        flex-direction: row; /* Arrange items vertically */
        justify-content: space-around; /* Vertically center items */
        align-items: stretch; /* Stretch items to fill container horizontally */
        min-height: 25em;
    }
    
    
    .box-6-ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 2em;
        display: flex;
        flex-direction: column;
        flex: 1; /* Allow the list to take up available vertical space */
        text-align: center;
        z-index: 1; /* Set the z-index for the text elements to be above the overlay */
        justify-content: space-around;
    }

    #box-6::before {
        content: ''; /* Add a pseudo-element to create the overlay */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #b5d1c1;
        opacity: .95;
        z-index: 0; /* Place the overlay behind the content */
    }

    .box-6-li-a,
    .box-6-ul-li {
        text-transform: uppercase;
        color: gray;
        text-decoration: none;
    }

    #box-7 {
        background-color: white;
        font-family: 'Libre Baskerville', sans-serif;
        color: #325050;
        background-color: #fff;
        font-size: 1em;
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }

    #box-8 {
        display: none;
    }

    #box-9 {
        grid-column: 1 / 3;
        grid-row: 5/6;
        min-height: 5em;
    }

    #box-9 {
        background-image: url('images/bottom-image.png'); /* Replace with the actual path to your image */
        background-size: cover; /* Scale the image to cover the entire div */
        background-position: center; /* Position the image at the center of the div */
        background-repeat: no-repeat; /* Prevent the image from repeating */
    }

    #box-10 {
        grid-column: 1 / 3;
        grid-row: 6 / 7;
        background-color: #134347;
        align-items: center;
        height: 5em;

    }

    .icons {
        display: flex;
        justify-content: space-around;
        align-items: center; /* Vertically center-align items */
        width: 50%;
        margin: auto;
        padding: 10px;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
    .icons > div {
        margin-top: 10px;
        width: 30px;
        height: 30px;
        background-color: black;
        border-radius: 50%;
    }
}

@media only screen and (min-width: 1120px) {
    .container {
        position: fixed;
        width: auto;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        padding: 0px 10px 0px 0px; /* Adjust padding as needed */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        overflow: auto;
        scrollbar-width: none; /* Hide the scrollbar for Firefox */
        -ms-overflow-style: none; /* Hide the scrollbar for Internet Explorer and Edge */
    }

    .container > div {
        height: 100%;
        width: 100%;
        border: solid red 1px;
    }

    body {
        font-size: x-large;
        line-height: 1.5;
    }

    body::before {
        content: "";
        position: relative;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none; /* Allow clicks to go through the overlay */
        z-index: -1; /* Place the overlay behind the content */
    }

    #box-1 {
        grid-column: 1 / 3;
        background-image: url('images/banner.png'); /* Replace with the actual path to your image */
        background-size: cover; /* Scale the image to cover the entire div */
        background-position: center; /* Position the image at the center of the div */
        background-repeat: no-repeat; /* Prevent the image from repeating */
        display: grid;
        place-items: center;
    }

    #box-1-content {
        color: rgb(206, 206, 206);
        font-size: 100px;
    }

    #box-1-content p:nth-child(1) {
        padding: 0;
        margin: 0;
        font-family: 'Dancing Script', cursive;
    }

    #box-1-content p:nth-child(2) {
        padding: 0;
        margin: 0;
        font-family: 'Allura', cursive;
    }

    #box-2 {
        background-color: #2d6360;
        grid-column: 3 / 4;  
    }

    #box-3 {
        grid-column: 1 / 3;
        font-size: 50px;
    }

    #box-4 {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        background-color: #e5ede8;
        display: flex; /* Use Flexbox for vertical centering */
        flex-direction: row; /* Arrange items vertically */
        justify-content: space-around; /* Vertically center items */
        align-items: stretch; /* Stretch items to fill container horizontally */
        min-height: 0; /* Allow the container to shrink if needed */   
    }

    .box-4-ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1; /* Allow the list to take up available vertical space */
        text-align: center;
    }

    .box-4-ul li {
        color: #d3dcd6;
        font-family: 'Julius Sans One', sans-serif;
        padding: .5em;
        /* border-bottom: 1px solid gray; */
    }

    .box-4-li-a,
    .box-4-li-by-name {
        text-transform: uppercase;
        color: gray;
        text-decoration: none;
    }
    
    .box-4-li-a:visited,
    .box-4-li-by-name:visited {
        color: gray;
    }

    #box-5 {
        position: relative; /* Add relative positioning to establish a containing block for absolute positioning */
        grid-column: 1 / 3;
        font-family: 'Libre Baskerville', sans-serif;
        font-size: 50px;
        color: #325050;
        background-image: url('images/woods.png'); /* Replace with the actual path to your image */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1; /* Set the z-index for the background image and overlay */ 
    }

    #box-5::before {
        content: ''; /* Add a pseudo-element to create the overlay */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #b5d1c1;
        opacity: .95;
        z-index: 1; /* Place the overlay behind the content */
    }

    #box-5 h3,
    #box-5 p {
        position: relative; /* Add relative positioning to establish a containing block for absolute positioning */
        z-index: 1; /* Set the z-index for the text elements to be above the overlay */
    }

    #box-6 {
        grid-column: 3 / 4;

        position: relative;
        background-image: url('images/woods.png'); /* Replace with the actual path to your image */
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -2; /* Set the z-index for the background image and overlay */
        display: flex; /* Use Flexbox for vertical centering */
        flex-direction: row; /* Arrange items vertically */
        justify-content: space-around; /* Vertically center items */
        align-items: stretch; /* Stretch items to fill container horizontally */
        min-height: 5em; /* Allow the container to shrink if needed */
    }

    .box-6-ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 2em;
        display: flex;
        flex-direction: column;
        flex: 1; /* Allow the list to take up available vertical space */
        text-align: center;
        z-index: 1; /* Set the z-index for the text elements to be above the overlay */
        justify-content: space-around;
    }

    #box-6::before {
        content: ''; /* Add a pseudo-element to create the overlay */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #b5d1c1;
        opacity: .95;
        z-index: 0; /* Place the overlay behind the content */
    }
    
    .box-6-li-a,
    .box-6-ul-li {
        text-transform: uppercase;
        color: gray;
        text-decoration: none;
    }
    
    #box-7 {
        font-size: 50px;

        background-color: white;
        font-family: 'Libre Baskerville', sans-serif;
        color: #325050;
        background-color: #fff;
        grid-column: 1 / 3;
    }

    #box-8 {
        background-color: #e5ede8;
        grid-column: 3 / 4;
    }

    #box-9 {
        background-image: url('images/bottom-image.png'); /* Replace with the actual path to your image */
        background-size: cover; /* Scale the image to cover the entire div */
        background-position: center; /* Position the image at the center of the div */
        background-repeat: no-repeat; /* Prevent the image from repeating */

        grid-column: 1 / 4;
        min-height: 20em;
    }

    #box-10 {
        background-color: #134347;
        align-items: center;
        grid-column: 1 / 4;
    }

    .icons {
        display: flex;
        justify-content: space-around;
        align-items: center; /* Vertically center-align items */
        width: 50%;
        margin: auto;
        padding: 10px;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
    .icons > div {
        margin-top: 10px;
        width: 30px;
        height: 30px;
        background-color: black;
        border-radius: 50%;
    }
}


