.cards-list {
    flex-direction: column; /* Change from 'row' to 'column' */
    gap: 20px;
    overflow-y: auto; /* Change from 'overflow-x' to 'overflow-y' if needed */
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
}

.card p {
    text-align: left;
}

.card--place {
    text-align: left;
}

.card--price {
    text-align: left;

}

.card--season {
    text-align: left;

}