html {
  padding-left: 0;
  margin-left: 0;

}

.header {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  left: 0;
  min-height: 10vh; 
  max-height: 35vh; 
  background-image: url("./background.jpg");
  background-size: cover;
  background-color: #333;
  background-position: center center;
  color: #fff;
  padding: 1rem;
  background-repeat: no-repeat;
  z-index: 1;

}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, .6); /* Adjust the color and opacity as needed */
  z-index: -1;
}

.header h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  max-height: 10vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
  }


.header-top {
margin: 0;
padding: 0;
display: grid;
grid-template-columns: 1fr auto;
align-items: center;
justify-content: space-between;
position: relative; /* Added */
z-index: 1; /* Added */
}

.header-top-text {
padding: 0;
margin: 0;

font-size: 2.5vh;
color: black;
font-weight: bolder;
z-index: 2; /* Added */
}

.header-ul {
list-style: none;
padding: 0;
display: flex;
}

.header-ul li {
margin-right: 15px;
}

.header h1 {
margin-top: 0;
display: block;
color: black;
text-align: center;
}

.header h5 {
margin-top: 0 0;
color: black;
text-align: center;
}

.header ul {
list-style-type: none;
display: flex;
right: 50px;
position: absolute;
right: 0;
bottom: 0;
margin: 0;
z-index: 2;
}