:root {
    --primary-color: grey;
    --primary-blue: blue;
  }
  
  * {
    margin: 0;
    box-sizing: border-box;
  }
  
  nav {
    border: 3px solid blue;
    height: 20vh;
    width: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* background-color: grey; */
    background-color: var(--primary-color);
  }
  
  #app {
    border: 3px solid red;
    width: 100vh;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--primary-blue);
  }
  
  .columns {
    border: 1px solid green;
    height: 10vh;
    width: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  